{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true,
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}
